.container {
    width: 800px;
    height: 800px;

    border: 2px black solid;


    margin: 20px;
    display: grid;
    grid-template-columns: 20% repeat(2, 33%);
    grid-template-rows: 50px 100px 150px 50px;
    gap: 10px;
    grid-template-areas: 
    "header header header" 
    "sidebar title title"
    "sidebar text1 text2"
    "footer footer footer";
}

@media (max-width: 40rem) {
    .container {
        grid-template-rows: 50px 60px  100px repeat(2, 50px) 75px;
        grid-template-areas: 
        "header header header"
        "sidebar sidebar sidebar"
        "title title title"
        "text1 text2 text2"
        "footer footer footer";
    }
    
}

.header {
    background: rgba(255, 154, 72, 0.5);
    grid-area: header;

}

.sidebar {
    background: rgba(255, 0, 0, 0.5);
    grid-area: sidebar;
}

.title {
    background: rgba(0, 128, 0, 0.5);
    grid-area: title;
}

.text1 {
    background: rgba(0, 4, 255, 0.5);
    grid-area: text1;
}

.text2 {
    background: rgba(195, 0, 255, 0.5);
    grid-area: text2;
}

.footer {
    background: rgba(238, 255, 0, 0.5);
    grid-area: footer;
}