.container {
    margin: 20px;
}

.header {
    background: rgba(255, 154, 72, 0.5);
}

.sidebar {
    background: rgba(255, 0, 0, 0.5);
}

.title {
    background: rgba(0, 128, 0, 0.5);
}

.text1 {
    background: rgba(0, 4, 255, 0.5);
}

.text2 {
    background: rgba(195, 0, 255, 0.5);
}

.footer {
    background: rgba(238, 255, 0, 0.5);
}